{% extends 'vocabulary/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <h2 class="mb-4">単語追加</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field.errors }}
                {% render_field field class="form-control" %}
                {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">追加</button>
    </form>
{% endblock %}

